body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #fdf7c3;
}

.challenge-card {
  background-color: white;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-bottom: 20px;
  transition: transform 0.3s;
  height: 100%;
  /* Ensure all cards take up the same height */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.challenge-card:hover {
  transform: translateY(-5px);
}

.challenge-card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.challenge-card .card-title {
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
  color: #333;
}

.challenge-card .card-text {
  flex-grow: 1;
  /* Ensures the description expands while maintaining card height */
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 1rem;
}

.btn-add {
  background-color: #e8c5e5;
  color: white;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-add:hover {
  background-color: #91ddcf;
  color: white;
}

.btn-join {
  background-color: #e8c5e5;
  color: white;
  border-radius: 20px;
  width: 200px;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin: auto;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-join:hover {
  background-color: #91ddcf;
  color: white;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

h2 {
  margin-bottom: 20px;
}

.btn-default,
.custom-btn {
  background-color: #b1afff;
  color: #242424;
  border: none;
  transition: background-color 0.3s;
}

.custom-btn:hover,
.btn-default:hover {
  background-color: #9b8fd4;
}

.custom-btn.active,
.btn-default.active {
  background-color: #9b8fd4;
  color: #242424;
}

.trendChlBox {
  background-color: #b1afff; /* Light purple background */
  padding: 20px; /* Add some padding */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  color: #333;
  width: 50%;
  height: 80%;
  text-align: center;
  margin: auto;
}

.trendChlBox h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 15px;
}

.trendChlBox p {
  font-size: 1rem;
  color: #666;
}
