/* main content */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('../images/background/landingpage.jpg');
    background-size: cover;
    background-position: center;
    height: 80vh;
    padding: 2rem;
}

.content h1 {
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: black;
}

.w3-button {
    background-color: white;
    padding: 1rem 2rem;
    border-radius: 50px;
    color: #B1AFFF;
    font-size: 1.2rem;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.w3-button:hover {
    background-color: #FDF7C3;
}
