<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Include header content -->
    <%- include('head') %>
</head>

<body>
    <div class="body-container forgot-body">
        <!-- Include Navbar -->
        <%- include('navbar') %>

            <!-- Contact Section -->
            <section class="contact-section py-5">
                <!-- Add vh-100 to make the container full height -->
                <div class="container d-flex justify-content-center align-items-center vh-80">
                    <div class="card forgot-card shadow-lg">
                        <div class="card-body">
                            <h1 class="card-title text-center mb-4">Forgot Password</h1>
                            <form action="/forgotpassword" method="POST">
                                    <!-- Email Input -->
                                    <div class="form-group mb-3">
                                        <label for="email">Enter Email:</label>
                                        <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                                    </div>

                                    <!-- OTP Input -->
                                    <div class="form-group mb-3">
                                        <label for="otp">Enter OTP:</label>
                                        <input type="text" class="form-control" id="otp" name="otp" placeholder="One-Time Password" required>
                                    </div>

                                    <!-- New Password Input -->
                                    <div class="form-group mb-4">
                                        <label for="new-password">Enter New Password:</label>
                                        <input type="password" class="form-control" id="new-password" name="new-password" placeholder="New Password" required>
                                    </div>

                                    <!-- Submit Button -->
                                    <div class="d-grid">
                                        <button type="submit" class="btn btn-custom btn-block">Submit</button>
                                    </div>
                                </form>

                            <p class="text-center mt-3">
                                Already have an account? <a href="/login">Login here</a>
                            </p>                          
                        </div>
                    </div>
                </div>
            </section>


            <!-- Include Footer -->
            <%- include('footer') %>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/script.js"></script>
</body>

</html>
